/* Styles/Positions.css */

.title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
}

table {
  min-width: 700px;
  background-color: white;
}

table th,
table td {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
}