.summary-container {
  padding: 24px;
  background-color: #f7f9fb;
  border-radius: 16px;
  max-width: 1000px;
  margin: auto;
}

.headersummary h2 {
  font-size: 26px;
  margin-bottom: 4px;
}

.headersummary p {
  font-size: 14px;
  color: #777;
}

.section-divider {
  height: 1px;
  background-color: #ddd;
  margin: 30px 0;
}

.summary-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 16px 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.card h4 {
  margin-bottom: 6px;
  font-size: 16px;
  color: #444;
}

.card p {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.card .up {
  color: #12b76a;
}

.card .down {
  color: #f04438;
}